@import '/src/styles/common.scss';

.articles {
    display: flex;
    flex-direction: column;
    .article {
        padding: 16px 16px 0 16px;
        cursor: pointer;
        .articleBox {
            display: flex;
            height: 100%;
            padding-bottom: 16px;
            border-bottom: 1px solid $borderColor;
            gap: 16px;

            &__main {
                display: flex;
                flex-grow: 1;
                flex-direction: column;
                gap: $small;

                .articleBox__title {
                    font-weight: bold;
                    font-size: 18px;
                    color: $titleTextColor;
                }

                .articleBox__description {
                    font-size: 16px;
                    color: $mainTextColor;
                }

                .articleBox__infBox {
                    display: flex;

                    justify-content: space-between;

                    .articleBox__inf {
                        display: flex;
                        gap: 16px;
                        .articleBox__info {
                            display: flex;
                            align-items: center;
                            gap: 4px;
                            line-height: 16px;
                        }
                    }

                    .articleBox__tags {
                        display: flex;
                        gap: $small;

                        .articleBox__tag {
                            color: $mainTextColor;
                            background-color: $darkerBgColor;
                            padding: 0 6px;
                            line-height: 26px;
                            border-radius: 2px;
                        }
                    }
                }
            }

            &__img {
                object-fit: cover;
            }
        }

        &:hover {
            box-shadow: 8px 0px rgba(0, 0, 0, 0.2);
        }
    }

}
