@import '/src/styles/common.scss';

.edit {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    &__form {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 16px;
        .form__buttonGroup {
            display: flex;
            justify-content: flex-end;
            gap: 16px;
            padding: 16px;
        }
    }
}