* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

@media screen and (min-width: 1440px) and (max-width: 1920px) {}

@media screen and (width: 1440px) {}

@media screen and (min-width: 768px) and (max-width: 1439px) {}

@media screen and (max-width: 768px) {}