@import '/src/styles/common.scss';

.layout {
    position: relative;
    &__header {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: $headerHeight;
        z-index: 999;
    }

    &__content {
        
        margin-top: $headerHeight;
        .content__children {
            overflow-y: auto;
            height: $contentHeight;
        }
    }

    &__footer {
        height: $footerHeight;
    }
}
