@import '/src/styles/common.scss';

.layout {
    position: relative;
    &__header {
        position: sticky;
        top: 0;
        height: $headerHeight;
        z-index: 999;
    }

    &__content {
        min-height: $minContentHeight;
    }

    &__footer {
        height: $footerHeight;
    }
}