.main {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    &__top {
        width: 100%;
        height: 100%;
        padding: 16px;
        .cards {
            width: 100%;
            height: 100%;
            .card {
                margin: 0;
                height: 310px;
                color: #fff;
                text-align: center;
                background: #364d79;
                object-fit: contain;
            }
        }
    }
    &__mid {
        position: relative;
        width: 100%;
        padding: 16px;
        .box {
            display: flex;
            gap: 16px;
            overflow-x: auto;
            scroll-behavior: smooth;
            scroll-snap-type: x mandatory;
            // &:hover {
            //     scrollbar-width: thin;
            // }
            .item {
                flex-shrink: 0;
                height: 160px;
                width: 160px;
                background: #364d79;
                transition: all 0.2s;
                cursor: pointer;
                border: 2px solid #364d79;
                border-radius: 16px;
                box-shadow: 5px 5px 5px #aaa;
                &:hover {
                    width: 320px;
                }
            }
        }
    }
}
