@import '/src/styles/common.scss';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    border-radius: 2px;
    border: 1px solid $borderColor;
    box-shadow: 0 2px 8px $shadowColor;


    &__title {
        display: flex;
        align-items: center;
        gap: 16px;
        cursor: pointer;

        .header__icon {
            border-radius: 12px;
        }

        .header__text {
            font-size: 18px;
            font-weight: 400;
            color: $mainTextColor;
        }
    }
}