@import '/src/styles/common.scss';

.content {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: $small;
    border: 2px;
    padding: $small 0;

    &__children {
        max-width: 1024px;
        background-color: $lightBgColor;
        border: 1px solid $borderColor;
    }

    :global {
        .ant-layout-footer {
            padding: 0;
        }
        .ant-layout-sider{
            background: $darkBgColor;
        }
        .ant-layout-sider-children{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            
        }
    }
}
